.post-type-archive.woocommerce-page  {
  .product-page-category{
    .single-product-page{
      .col-lg-12{
        ul.products{
          padding-top: 125px;

          li{
            width: 24.72%;
          }
          .ul-products-li{
            margin: 0 15px 30px;

            >.woocommerce-LoopProduct-link{
              height: 276px;
            }
          }
        }
        .related-product-content .short-excerpt {
          height: 61px;
          overflow: hidden;
        }
        @media (max-width: 1024px) {
          ul.products{
            li {
              width: 33%;

              .ul-products-li{
                .woocommerce-loop-product__link {
                  height: 278px;
                }
              }
            }
          }
        }
        @media (max-width: 768px){
          ul.products {
            li {
              width: 49.68%;

              .ul-products-li{
                .woocommerce-loop-product__link {
                  height: 326px;
                }
              }
            }
          }
        }
        @media (max-width: 425px){
          ul.products {
            li {
              width: 100%;

              .ul-products-li{
                .woocommerce-loop-product__link {
                  height: 363px;
                }
              }
            }
          }
        }
        @media (max-width: 375px){
          ul.products {
            li {
              width: 100%;

              .ul-products-li{
                .woocommerce-loop-product__link {
                  height: 313px;
                }
              }
            }
          }
        }
        @media (max-width: 320px){
          ul.products {
            li {
              width: 100%;

              .ul-products-li{
                .woocommerce-loop-product__link {
                  height: 258px;
                }
              }
            }
          }
        }
      }
    }
  }
}