.blog-page{
  .blog-container{
    @media (max-width: 1440px) {
      .blog-post-image-container {
        height: 238px
      }
    }
    @media (max-width: 1024px) {
      .blog-post-image-container {
        height: 176px
      }
    }
    @media (max-width: 768px) {
      .blog-post-image-container {
        height: 207px
      }
    }
    @media (max-width: 425px) {
      .blog-post-image-container {
        height: 213px;
      }
      .blog-post-item{
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    @media (max-width: 375px) {
      .blog-post-image-container {
        height: 189px;
      }
      .blog-post-item{
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    @media (max-width: 320px) {
      .post-excerpt:nth-of-type(1){
        height: 117px;
      }
      .blog-post-image-container {
        height: 172px;
      }
      .blog-post-item{
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}