.archive.tax-product_cat.woocommerce.woocommerce-page{
    .product-page-category{
      @media (max-width: 1024px){
        ul.products{
          &>li.product-category{
            width: 46.99%;
          }
        }
      }
      @media (max-width: 768px){
        ul.products{
          &>li.product-category{
            width: 46.9%;
          }
        }
      }
      @media (max-width: 425px){
        ul.products{
          &>li.product-category,
          &>li.product-category.last{
            width: 100%;
            margin: 0 0 15px;
          }
        }
      }
      @media (max-width: 320px){
        ul.products{
          .product-category{
            a{
              height: 174px;

              .woocommerce-loop-category__title{
                float: none;
                margin-bottom: 20px;
                display: block;
                width: 100%;
              }
              img{
                float: none;
                display: inline-block;
                padding-top: 40px;
              }
              .btn-subcat{
                margin: 20px 0 0;
              }
            }
          }
        }
      }

    }
}