.contact-us-container {
  @media (max-width: 768px){
    .contact-us-right-details{
      margin-top: 50px;
    }
  }
  @media (max-width: 425px) {
    .contact-us-container-left{
      p:nth-child(2), p:nth-child(3){
        max-width: 100%;
      }
      p:nth-child(2){
        margin-right: 0;
      }
    }
  }
}
