.page-template-faq{
  @media (max-width:1024px) {
    .widget-area{
      margin: 0;
    }
  }
  @media (max-width: 768px) {
    .widget-area{
      margin: 0;
    }
  }
  @media (max-width: 320px) {
    .rpwe-block ul.rpwe-ul{
      .rpwe-alignleft.rpwe-thumb{
        margin: 2px 10px 8px 0;
      }
    }
  }
}