@media (max-width: 768px) and (min-width: 768px){
  .col-footer{
    height: 241px;
    text-align: left;
  }
  #toTop {
    right: 5px;
  }
  span.contact-label {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .col-footer{
    text-align: center;
  }
  #toTop {
    bottom: 40px;
    right: 20px;
  }
}

@media (max-width: 375px) {
  #toTop {
    bottom: 50px;
  }
}