.home{

  @media (max-width: 1024px) and (min-width: 1024px){

  }
  @media (max-width: 1024px){
    ul.products{
      li{
        .ul-products-li{
          >a{
            height: 198px;
          }
          .related-product-content{
            .short-excerpt{
              height: 60px;
            }
          }
        }
      }
    }
    .product-item-content{
      a.btn.btn-lg.active{
        font-size: 14px;
      }
    }
    .team_columns_item_image{
      padding: 15px 10px;
    }
    ul.products{
      button.slick-prev{
        left: -31px;
        padding: 5px 13px;
      }
      button.slick-next{
        right: -31px;
        padding: 5px 13px;
      }
      li > a:first-child{
        height: 272px;
      }

      .related-product-content{
        a:first-child{
          .woocommerce-Price-amount{
            font-size: 21px;
          }
        }
        .woocommerce p.stars span a:before,
        .woocommerce-page p.stars span a:before {
          content: "\53";
          font-family: "star";
          opacity: 1;
          visibility: visible;
        }


      }
    }


  }
  @media (max-width: 768px)and (min-width: 425px){
    .product-item-content {
      padding: 0 13px;
    }
  }
  @media (max-width: 768px){
    ul.products{
      button.slick-prev{
        left: -15px;
        padding: 5px 13px;
      }
      button.slick-next{
        right: -15px;
        padding: 5px 13px;
      }
      li > a:first-child{
        height: 272px;
      }

      .related-product-content{
        a:first-child{
          .woocommerce-Price-amount{
            font-size: 21px;
          }
        }
        .woocommerce p.stars span a:before,
        .woocommerce-page p.stars span a:before {
          content: "\53";
          font-family: "star";
          opacity: 1;
          visibility: visible;
        }


      }
    }

  }

  @media (max-width: 425px){
    ul.products li > a:first-child {
      height: 314.9px;
    }
    ul.products{
      li{
        .ul-products-li{
          >a{
            height: 313.9px;
          }
        }
      }
    }
  }

  @media (max-width: 375px){
    .section-product-items{
      padding: 0 35px;
    }
  ul.products li > a:first-child {
    height: 263px;
  }
  ul.products{
    li{
      .ul-products-li{
        >a{
          height: 262.9px;
        }
      }
    }
  }
}
  @media (max-width: 320px){
    .section-product-items{
      padding: 0 11px;
    }
    .product-item-img{
      height: 202px;
    }
    ul.products{
      li{
        .ul-products-li{
          >a{
            height: 207.9px;
          }
        }
      }
    }
  }


}