/********************************/
/*          Media Queries       */
/********************************/
@media (min-width: 1366px){
  .col-md-2-new{
    width: 16%;
  }
  .col-md-2-new-2{
    width: 14%;
  }
  .col-md-3-new{
    width: 23%;
  }
  .col-md-4-new{
    width: 31%;
  }
}
@media (min-width: 1357px){
  .container{
    width: 1275px;
  }
}
@media (max-width: 1024px) and (min-width: 1024px){
  .col-md-2-new{
    width: 16%;
  }
  .col-md-2-new-2{
    width: 14%;
  }
  .col-md-3-new{
    width: 29%;
  }
  .col-md-4-new{
    width: 25%;
  }
}
@media (max-width: 1024px) {
  .navbar-lg {
    height: 65px;
    top: -17%;
  }
  .product-item-content button {
    font-size: 14px;
  }
}
@media (min-width: 992px){
  .shipping-services-padding {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 768px){
  .footer-container {
    text-align: center;
  }
  .navbar-collapse.collapse{

  }
  .navbar-lg {
    height: 50px;
    top: 0;
  }
  ul.nav.navbar-nav.navbar-left>li.menu-item>a {
    padding: 10px 9px;
    font-size: 12px;
  }
  ul.nav.navbar-nav.navbar-right>li.menu-item>a {
    padding: 10px 14px;
    font-size: 12px;
  }
  div#navbar {
    margin-top: 5px;
  }
  .section-product-items .col-sm-6:first-child, .section-product-items .col-sm-6:nth-child(2) {
    margin-bottom: 25px;
  }
  .return-top-btn {
    bottom: 37px;
    right: -10px;
  }
}
@media (max-width: 778px) {
  .page-template-about-page{
    .about-us-container{
      .widget-area{
        margin: 0;
      }
    }
  }
}
@media (max-width: 425px) {
  .navbar-lg {
    height: 66px;
    top: -8px;

  }
  .section-ecigarrete-container .col-sm-4:first-child,
  .section-ecigarrete-container .col-sm-4:nth-child(2) {
    margin-bottom: 20px;
  }
  .footer-container {
    text-align: center;
  }
  .return-top-btn {
    bottom: 35px;
    right: 0px;
  }
  .product-link-lower {
    left: 45%;
    right: 45%;
  }
  .section-product-items .col-sm-6 {
    margin-bottom: 30px;
  }
  ul.nav.navbar-nav.navbar-right{
   float: left;
   margin-top: -6px;
  }
  ul.nav.navbar-nav.navbar-right > li a {
    padding: 9px 15px;
  }

  svg.icon.icon-arrow-right {
    display: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: #161616;
  }
  .navbar-nav .open .dropdown-menu{
    margin-top: -10px;
    li{
      a{
        padding: 3px 22px;
      }
    }
  }
  ul.list-inline.pull-right.reset-mp{
    text-align: right;
  }
}
@media (max-width: 375px){
  .navbar-lg {
    height: 60px;
    top: -5px;
    left: 164px;
  }
  .return-top-btn {
    bottom: 60px;
  }
  .team_columns_carousel_wrapper {
    padding: 0 35px;
    overflow: hidden;
  }
  .header-search {
    width: 155px;

    &:hover input,
    input:focus{
      width: 155px;
    }
  }
  .header-search:hover input, .header-search input:focus {
    width: 155px;
  }
}

@media (max-width: 320px) {
  .header-search{
    float: right;

    input{
      margin-left: 0;
    }
  }
  .navbar-lg {
    left: 140px;
  }

  ul.list-inline.pull-right.reset-mp {
    text-align: right;

    li:first-child {
      text-align: center;
      display: block;
      margin-bottom: 20px;
    }
  }
}
