header{
  nav{
    #hover-menu{
      >li{
        //First Level Dropdown
        >.dropdown-menu{
          >li{


            //Second Level Dropdown
            .dropdown-menu{
              min-width: 220px;

              >li{
                a{
                  white-space: normal;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
    @media (max-width:1440px) {
      #hover-menu{
        >li{
          //First Level Dropdown
          >.dropdown-menu{
            >li{



              //Second Level Dropdown
              .dropdown-menu{
                min-width: 220px;

                >li{
                  a{
                    white-space: normal;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width:1024px) {
      #hover-menu{
        >li{
          //First Level Dropdown
          >.dropdown-menu{
            >li{
              a{
                font-size: 12px;
              }


              //Second Level Dropdown
              .dropdown-menu{
                min-width: 180px;

                >li{
                  a{
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width:768px) {
      #hover-menu{
        >li{
          //First Level Dropdown
          >.dropdown-menu{
            >li{
              a{

              }


              //Second Level Dropdown
              .dropdown-menu{
                top: 75%;
                left: -180px;
                width: 100%;

                >li{
                  a{

                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width:425px) {
      #hover-menu{
        float: none;

        >li{
          //First Level Dropdown
          >.dropdown-menu{
            margin-top: 0;
            border: none;
            box-shadow: none;
            >li{
              a{
                font-size: 15px;
              }


              //Second Level Dropdown
              .dropdown-menu{
                border: none;
                box-shadow: none;
                >li{
                  a{
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }

  }
}