.logged-in.woocommerce-view-order{
  @media (max-width: 425px) {
    table.woocommerce-table.woocommerce-table--customer-details.shop_table.customer_details{
      width: 50%;
      tbody{
        tr{
          th{
            width: 100%;
            display: block;
          }
          td{
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
  @media (max-width: 320px) {
    .page-template-container{
      .container{
        padding: 20px;
      }
    }
  }
}