.page-template-login.logged-in{
  @media (max-width: 768px) {
    .u-column1.col-1, .u-column2.col-2{
      padding: 0;
    }
    .u-column2.col-2{
      padding: 20px 0 0;
    }
  }
  @media (max-width: 425px) {
    .u-column1.col-1, .u-column2.col-2{
      padding: 0;
    }
    .u-column2.col-2{
      padding: 20px 0 0;
    }
  }
}