.page-template-registration{
  @media (max-width: 425px) {
    form .form-row-first,
    form .form-row-last{
      width: 100%;
    }
    p.form-row.form-row-first {
      margin-bottom: 20px;
    }
    p.form-row.form-row-last{
      margin-bottom: 0;
    }
  }
}