.single-product.woocommerce-page{
  .product-page-category{
    .single-product-page{
      @media (max-width: 1024px) {
        .col-md-8{
          table.variations{
            margin-bottom: 0;
            tbody{
              tr{
                td.label{
                  text-align: left;
                  margin-bottom: 10px;
                }
                td{
                  display: block;
                }
              }
            }
          }
          .related.products{
            ul.products{
              >li.product.type-product{
                width: 46%;
                border: none;
              }
              >li{
                .ul-products-li{
                  >.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
                    height: 281.5px;
                  }
                  .related-product-content{
                    .short-excerpt{
                      height: 62px;
                      overflow: hidden;
                    }
                    .woocommerce-Price-amount{
                      font-size: 28px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 768px) {
        .col-md-8{
          .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
            margin-bottom: 0;
          }
          .woocommerce-product-details__short-description {
            margin-top: 20px;
          }
          table.variations{
            tbody{
              tr{
                td.label{
                  text-align: left;
                  margin-bottom: 10px;
                }
                td{
                  display: block;
                }
              }
            }
          }
          .related.products{
            ul.products{
              >li.product.type-product{
                width: 46%;
                border: none;
                float: none;
              }
              >li{
                display: inline-block;
                text-align: center;
                margin-right: 3.7%;


                .ul-products-li{
                  >.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
                    height: 328.2px;
                  }
                  .related-product-content{
                    .short-excerpt{
                      height: 62px;
                      overflow: hidden;
                    }
                    .woocommerce-Price-amount{
                      font-size: 28px;
                    }
                  }
                }
              }
            }
          }
        }
        .widget-area{
          margin-left: 0;
        }
      }
      @media (max-width: 425px){
        .col-md-8{
          .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
            margin-bottom: 0;
          }
          .woocommerce-product-details__short-description {
            margin-top: 20px;
          }
          table.variations{
            tbody{
              tr{
                td.label{
                  text-align: left;
                  margin-bottom: 10px;
                }
                td{
                  display: block;
                }
              }
            }
          }
          .related.products{
            ul.products{
              >li.product.type-product{
                width: 100%;
                border: none;
                float: none;
              }
              >li{
                display: inline-block;
                text-align: center;
                margin-right: 3.7%;


                .ul-products-li{
                  >.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
                    height: 392.2px;
                  }
                  .related-product-content{
                    .short-excerpt{
                      height: 62px;
                      overflow: hidden;
                    }
                    .woocommerce-Price-amount{
                      font-size: 28px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 375px){
        .col-md-8{
          .related.products{
            ul.products{
              >li{
                .ul-products-li{
                  >.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
                    height: 342.2px;
                  }
                }
              }
            }
          }
          .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
            margin-bottom: 0;
          }
          .woocommerce-product-details__short-description {
            margin-top: 20px;
          }
        }
      }
      @media (max-width: 320px){
        .col-md-8{
          .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images{
            margin-bottom: 0;
          }
          .woocommerce-product-details__short-description {
            margin-top: 20px;
          }
          .related.products{
            ul.products{
              >li{
                .ul-products-li{
                  >.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
                    height: 287.2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}