.archive.tax-product_cat.woocommerce.woocommerce-page{
  .product-page-subcategory{
    header.woocommerce-products-header {
      margin: 0;
    }
    @media (max-width: 1440px){
      .col-lg-8 {
        ul.products{
          > li.product{
            width: 30.8%;

            .ul-products-li{
              >a{
                height: 250.4px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 1024px){
      .widget-area {
        margin-left: 0;
      }
      ul.products{
        .product-category.product{
          width: 46.38%;
          a{
            .woocommerce-loop-category__title{
              width: 100%;
              font-size: 23px;

            }
            img{
              padding-top: 30px;
            }
          }
        }
      }
      .col-lg-8 {
        ul.products{
          > li.product{
            width: 46%;

            &:nth-child(2n) {
              margin-right: 0;
            }
            &:nth-child(3n) {
              margin-right: 3.8%;
            }

            .ul-products-li{
              >a{
                height: 282.4px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 768px){
      ul.products{
        >li.product:nth-child(2n),>li.product:nth-child(3n),>li.product{
          float: none;
          margin-right: 0!important;
          display: inline-block;
          padding: 15px;
        }

        .product-category.product{
          width: 46.38%;
          a{
            .woocommerce-loop-category__title{
              width: 100%;
              font-size: 23px;

            }
            img{
              padding-top: 30px;
            }
          }
        }
      }
      .col-lg-8 {
        ul.products{
          > li.product{
            .ul-products-li{
              >a{
                height: 299.4px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 425px){
      ul.products{
        .product-category.product{
          width: 100%;
          margin: 0 0 20px;
          a{
            .woocommerce-loop-category__title{
              width: 100%;
              font-size: 23px;
            }
            img{
              padding-top: 30px;
            }
          }
        }
        .product-category.product.last{
          margin: 0;
        }
      }
      .col-lg-8 {
        ul.products{
          > li.product{
            width: 100%;
            margin-bottom: 20px;


            &:nth-child(2n) {
              margin-right: 0;
            }
            &:nth-child(3n) {
              margin-right: 0;
            }
            .ul-products-li{
              >a{
                height: 363px;
              }
            }
          }
        }
      }
      aside.widget-area {
        padding: 0 15px;
      }
    }
    @media (max-width: 375px){
      ul.products{
        .product-category.product{
          width: 100%;
          margin: 0 0 20px;
          a{
            .woocommerce-loop-category__title{
              width: 100%;
              font-size: 23px;
            }
            img{
              padding-top: 30px;
            }
          }
        }
        .product-category.product.last{
          margin: 0;
        }
      }
      .col-lg-8 {
        ul.products{
          > li.product{
            .ul-products-li{
              >a{
                height: 313px;
              }
            }
          }
        }
      }
    }
    @media (max-width: 320px){
      ul.products{
        .product-category.product{
          width: 100%;
          margin: 0 0 20px;
          a{
            .woocommerce-loop-category__title{
              width: 100%;
              font-size: 23px;
            }
            img{
              padding-top: 30px;
            }
          }
        }
        .product-category.product.last{
          margin: 0;
        }
      }
      .col-lg-8 {
        ul.products{
          > li.product{
            .ul-products-li{
              >a{
                height: 290px;
              }
            }
          }
        }
      }
    }
  }


  @media (max-width: 320px){
    .subpage-banner-title {
      font-size: 40px;
    }
  }
}

.woocommerce.columns-3 {


    & > ul.products {


        & > li {
          
          &.last {
            margin-right: 0;
          }

          &.product {
              width: 29%;
            
            & > .ul-products-li {

              & > a {
                height: 236px
              }
            }

            @media (max-width: 768px) {
              width: 46.38%;
            }

            @media (max-width: 425px) {
              width: 100%;
            }
          }


        }

  
  }
}

.product-cat-details {

      margin-bottom: 80px; 

      h1 {
      font-family: Raleway-ExtraBold;
      font-size: 30px;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
  } 