.archive.tax-product_cat.woocommerce.woocommerce-page{
  .product-page-subcategory{
    .col-lg-8{
      .products{
        >li.product-category.product{
          border: 1px solid #ececec;
        }
      }
      @media (max-width: 1440px){
        .products{
          >li.product-category.product{
            width: 47.28%;
            border: 1px solid #ececec;
          }
        }
      }
      @media (max-width: 1024px){
        .products{
          >li.product-category.product{
            width: 47.1975%;
          }
        }
      }
      @media (max-width: 768px){
      .products{
        >li.product-category.product{
          width: 46%;
        }
        >li.product-category.product:nth-child(2n),>li.product-category.product:nth-child(3n){
          margin: 0 10px 25px;
        }
      }
    }
      @media (max-width: 425px){
        .products{
          >li.product-category.product{
            width: 100%;
          }
          >li.product-category.product:nth-child(2n),>li.product-category.product:nth-child(3n){
            margin: 0 0 25px;
          }
        }
      }
    }
  }
}


