.page-template-about-page{
  .about-us-container{
    .col-md-8 {
      h1,h2,h3,h4,h5,h6{
        padding: 0;
        margin: 50px 0 25px;
        font-family: 'Raleway-ExtraBold';

        &:nth-of-type(1){
          margin-top: 0;
        }
      }
    }
    p{
      margin: 0 0 30px;
    }

  }
}