/*Input Number Style*/
/*Input Number Style*/
/*Input Number Style*/
/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}


.display-name{
  color: #fff;
}

.quantity input {
  width: 45px;
  height: 4px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  !* height: 50%; *!
  display: inline-block;
  top: 12px;
  line-height: 1;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: 11px;
  !* height: 50%; *!
  display: inline-block;
  line-height: 1;
}*/
/*End Input Number Style*/
/*End Input Number Style*/
/*End Input Number Style*/
.single-featured-image-header{
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2c2c2c;
    opacity: .6;
  }
}

.subpage-banner-content{
  position: relative;
  *{
    color: #fefefe;
    font-size: 15px;
   }
  .subpage-banner-title{
    font-family: 'Raleway-Black';
    font-size: 45px;
    text-transform: uppercase;

  }
}

.page-template-container{
  padding: 70px 0 120px;
}