.blog{
  .blog-page {
    padding: 0 0 120px;
  }
  .post-categories-container {
    text-align: center;
    padding: 70px 0 0;
  }
  .post-categories-container ul {
    display: inline-block;
    font-family: 'Raleway-Bold';
    font-size: 20px;
  }
  .post-categories-container ul li {
    padding: 0;
  }
  .post-categories-container ul li a{
    color: #161616;
    text-transform: uppercase;
  }
  .post-categories-container ul li a.active{
    color: #bf3415;
  }
  .blog-post-container{
    position: relative;
  }
  .blog-post-image-container{
    position: relative;
    height: 237px;
    width: 100%;

  }
  .blog-post-image-container a{
    position: relative;
    height: 100%;
    display: block;
  }
  .blog-post-image-container img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    top: 0;
    transform: translate(0, 0);
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto!important;
    display: inline-block!important;
  }
  .blog-post-details {
    height: 270PX;
    margin: 0 30px 30px;
  }
  .blog-post-title {
    font-size: 22px;
    font-family: Raleway-Black;
    height: 50px;

    a{
      color: #161616;

      &:hover,&:visited,&:active,&:focus{
        text-decoration: none;
      }
    }
  }
  .blog-post-date {
    font-size: 15px;
    font-family: Raleway-Light;
    margin: 0 0 10px;
    display: inline-block;
    height: 21px;
  }
  .post-excerpt {
    font-family: Raleway-light;
    font-size: 17px;
  }
  .post-excerpt{
    a{
      color: #161616;
      text-transform: uppercase;
      font-family: Raleway-Bold;
      font-size: 16px;
      border: 2px solid #161616;
      padding: 10px 20px;
      border-radius: 6px;
      margin-top: 10px;
      display: inline-block;

      &:hover,&:focus,&:active{
        background-color: #bf3415;
        color: #ffffff;
        border-color: #bf3415;
        text-decoration: none;
      }
    }
  }


  .blog-post-item {
    margin-top: 50px;
    border: 1px solid #F3F3F4;
  }
  .post-excerpt:nth-of-type(1) {
    height: 100px;
  }
  .blog-post-navigation{
    margin-top: 30px;

    .prev.page-numbers,.next.page-numbers{
      float: none;
    }
    i.fa.fa-caret-right,i.fa.fa-caret-left {
      vertical-align: middle;
      margin-top: 3px;
    }
    .page-numbers{
      border: 1px solid #f3f3f4;
      width: 28px;
      height: 28px;
      padding: 0;
      font-size: 16px;
      text-align: center;
      vertical-align: middle;
      background: #fff;
      padding-top: 2px;
      color: #161616;

      &:hover, &:visited, &:active, &:link{
        text-decoration: none;
      }
    }
    .page-numbers.current{
      padding: 0;
      padding-top: 2px;
      background-color: #bf3415;
      color: #fff;
      border: 1px solid #bf3415;
    }
  }
}