/*Color button Background Defaults Style*/
.btn-red{
  background: #bf3415;
  padding: 10px 60px;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-red:hover {
  background: #c1472c;
  color: #fff!important;
}
.btn{
  font-family: "Raleway-Bold";
  font-size: 19px;
  font-style: normal;
}
/*Color Link Background Defaults Style*/
.shop-now-link{
  font-family: Raleway-Bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #161616;

  &:hover,&:active,&:focus{
    color:#bf3415;
    text-decoration: none;
  }
}

.btn-red{
  &:hover,&:active,&:focus{
    color: #fff;
  }
}