.woocommerce-checkout{
  .section-checkout-template{
    background: #f3f3f3;
    .checkout-page-container{
      margin: 80px 0;
      background-color: #fff;
      padding: 40px;

      input[type="text"],
      input[type="email"],
      input[type="search"],
      input[type="number"],
      input[type="tel"],
      input[type="range"],
      input[type="color"],
      textarea{
        padding: 5px;
      }
      .select2-container--default .select2-selection--single{
        height: 36px;
      }
      .select2-container--default .select2-selection--single .select2-selection__rendered{
        margin-top: 4px;
      }
      .select2-container--default .select2-selection--single .select2-selection__arrow b{
        margin-top: 0;
      }

      table.woocommerce-checkout-review-order-table{
        border: 1px solid #ececec;
        tr{
          th, td{
            padding: 10px 20px;
          }
          td{
            font-family: 'Raleway-SemiBold';
            font-size: 18px;
          }
          th.product-name, th.product-total{
            background-color: #000;
            border-bottom: none;
            color: #fff;
          }
        }
      }
      .woocommerce-info{
        display: none;
      }
      .checkout_coupon_div{
        display: inline-block;
        float: right;
        .form-row.form-row-first{
          width: auto;
          display: inline-block;
        }
        .form-row.form-row-last{
          display: inline-block;
          width: auto;
          margin: 0;
          margin-left: 15px;

          input.button{
            font-family: 'Raleway-Bold';
            font-size: 16px;
            border: 2px solid #bf3415;
            background: #fff;
            padding: 8px;
            color: #bf3415;
            border-radius: 5px;
            float: right;

            &:hover{
              border-color: #bf3415;
              background-color: #bf3415;
              color: #fff;
            }
          }
        }
      }
      .woocommerce-checkout-payment{
        ul{
          li{
            border: none;
          }
          li.wc_payment_method>label:first-of-type{
            margin: 5px 0;
          }
        }

        input#place_order{
          font-family: 'Raleway-Bold';
          font-size: 16px;
          border: 2px solid #bf3415;
          background: #fff;
          color: #bf3415;
          border-radius: 5px;
          float: right;
          padding: 10px 20px;

          &:hover{
            border-color: #bf3415;
            background-color: #bf3415;
            color: #fff;
          }
        }
      }
      div#payment {
        margin: 15px 0 0 0;
      }

    }
  }
}