.contact-us-container {
  margin: 70px 0 110px;

  .contact-us-container-left{
    background-color: #ffffff;
    padding: 20px;

    .contact-us-left-title{
      text-transform: uppercase;
      font-family: 'Raleway ExtraBold';
      font-size: 20px;
      margin: 0 0 20px;
    }

    p input{
      padding: 8px;
      border-color: #cccccc;
    }
    p:nth-child(2) {
      margin-right: 16px;
    }
    p:nth-child(2), p:nth-child(3){
      display: inline-block;
      max-width: 48%;
      margin-bottom: 20px;
      font-weight: 700;
    }
    p:nth-child(4),
    p:nth-child(5) {
      margin-bottom: 20px;
    }
    label {
      color: #161616;
      font-size: 15px;
      font-family: 'Raleway-Medium';
      width: 100%;
      font-weight: normal;
    }
    .required-sign {
      margin-bottom: 3px;
      display: inline-block;
      color: #bf3415;
    }
    input.wpcf7-form-control.wpcf7-submit {
      margin-top: 10px;
      font-size: 16px;
      font-family: Raleway-bold;
      padding: 12px 32px;
      color: #161616;
      background: #fff;
      border: 2px solid #161616;
      border-radius: 5px;
      text-transform: uppercase;
    }
    input.wpcf7-form-control.wpcf7-submit:hover {
      background: #000;
      color: #fff;
    }
  }

  .contact-us-right-details{
    .contact-us-right-title{
      text-transform: uppercase;
      font-family: 'Raleway ExtraBold';
      font-size: 20px;
      margin-bottom: 20px;
    }
    p{
      margin: 0;

      &:nth-child(2),
      &:nth-child(3){
        margin-bottom: 15px;
      }
    }
  }
}
