.page-template-faq{
  #the-question{
    font-family: 'Raleway-ExtraBold';
    font-size: 24px;
    margin: 45px 0 25px;
    padding: 0;

    &:nth-of-type(1){
      margin-top: 0;
    }

    i{
      color: #bf3415;
      font-size: 20px;
      margin: 0 10px 0 0;
      position: relative;
      top: -1px;
    }
  }
  .entry-content-page p{
    font-size: 16px;
    margin-bottom: 25px;
  }
}