.archive.woocommerce-page .product-page-subcategory ul.products li .related-product-content .ajax_add_to_cart:active, .archive.woocommerce-page .product-page-subcategory ul.products li .related-product-content .product_type_variable:active {
  background-color: white;
  border: 2px solid #bf3415;
  color: #bf3415;
}

.archive.woocommerce-page .product-page-subcategory ul.products li .related-product-content .ajax_add_to_cart:focus, .archive.woocommerce-page .product-page-subcategory ul.products li .related-product-content .product_type_variable:focus {
  background-color: white;
  border: 2px solid #bf3415;
  color: #bf3415;
}

.woocommerce .button.loading:after {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  content: "\f021";
  font: normal normal normal 14px/1 FontAwesome;
  margin-left: 8px;
}





