/********************************/
/*        Footer      */
/********************************/
.section-footer{
  padding: 30px 0 20px;
}
.footer-container *{
  color: #848484;
}
.footer-container .title{
  color: #ffffff;
  font-family: Raleway-Bold;
  font-size: 17px;
  text-transform: uppercase;
}
.footer-container ul {
  margin-top: 20px;
}
.footer-container ul li{
  font-family: 'Raleway-Regular';
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.footer-container .fa-envelope {
  margin-right: 10px;
}
.footer-container .fa-phone {
  margin-top: -5px;
  font-size: 19px;
  vertical-align: middle;
  margin-right: 8px;
}
.contact-label {
  text-transform: uppercase;
  margin-right: 5px;
}
.email {
  color: #ffffff;
  text-transform: lowercase;
}
.footer-container ul li.eliquids{
  text-transform: none;
}
.copyright-details{
  font-family: 'Raleway-Medium';
  font-size: 13px;
}
.icon-social-link-container a .fa {
  padding-top: 10px;
  width: 38px;
  height: 37px;
  display: inline-block;
  text-align: center;
  background-color: #27272b;
  font-size: 17px;
}
.icon-social-link-container,.icon-social-link-container a{
  width: 38px;
  height: 37px;
  display: inline-block;
}
i.fa.fa-facebook:hover {
  background: #3b5998;
  color: #fff;
}
i.fa.fa-twitter:hover {
  color: #1da1f2;
  background: #fff;
}
i.fa.fa-youtube:hover {
  background: #e62117;
  color: #fff;
}
i.fa.fa-google-plus:hover {
  color: #fff;
  background: #db4437;
}
.copyright {
  padding: 40px 0 0;
}
.footer-container {
  position: relative;
}
.return-top-btn{
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
}
.arrow-head-black-up{
  background: url("../images/footer/arrow-head-up.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 11px;
  display: inline-block;
}
.footer-container ul li a:hover {
  color: #fff;
  text-decoration: none;
}
//#toTop{
//  position: absolute;
//  bottom: 10px;
//  right: 10px;
//  cursor: pointer;
//  display: none;
//}
#toTop{
  position: absolute;
  bottom: 20px;
  right: 0;
  cursor: pointer;
  display: none;
}
ul.list-inline li a img {
  width: 43px;
  overflow: hidden;
}