/********************************/
/*          Main Slider CSS     */
/********************************/


#first-slider .main-container {
  padding: 0;
}

#first-slider .slide1 .text-left ,#first-slider .slide3 .text-left{
  padding-left: 40px;
}


#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 565px;
  height: 100%;
  width:100%;
  background-position: center;
}

.carousel-inner .item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#first-slider h3{
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}


#first-slider .carousel-control {
  /*width: 6%;*/
  text-shadow: none;
}


#first-slider h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

#first-slider .p {
  padding-top: 125px;
  text-align: center;
}

#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li, #first-slider .carousel-indicators .active{
  width: 16px;
  height: 16px;
}
#first-slider .carousel-indicators li {
  background-color: transparent;
  border:none;
  border: 2px solid #fafafa;
}
#first-slider .carousel-indicators .active{
  background-color: #bf3415;
  border: 2px solid #bf3415;
}

.carousel-control-container {
  width: 120px;
  display: block;
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto 14px;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 20!important;
}


.carousel-control .carousel-prev{
  display: inline-block;
  background: url("../images/banner-slider/arrow-carousel-left.png") no-repeat;
  width: 8px;
  height: 13px;

}
.carousel-control .carousel-next{
  display: inline-block;
  background: url("../images/banner-slider/arrow-carousel-right.png") no-repeat;
  width: 8px;
  height: 13px;

}
.carousel-control {
  opacity: 1;
  filter: alpha(opacity=100);
  width: auto;
  height: auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
#first-slider .slide1 {
  background-size: cover;
  background-repeat: no-repeat;
}
#first-slider .slide2 {
  background-size: cover;
  background-repeat: no-repeat;
}
#first-slider .slide3 {
  background-size: cover;
  background-repeat: no-repeat;
}
#first-slider .slide4 {
  background-size: cover;
  background-repeat: no-repeat;
}
#first-slider .item:before{
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.30;
}
.slider-content{
  color: #ffffff;
}
.slider-content .slider-title{
  font-family: Raleway-Black;
  font-size: 45px;
}
.slider-content .slider-details, .slider-content p{
  color: #fefefe;
  font-family: Raleway-Regular;
  font-size: 24px;
}
/****************************************/
/*          Section banner footer       */
/****************************************/
.section-banner-footer{
  text-align: center;
  font-family: Raleway-Regular;
  padding: 20px 0;
}
.section-banner-footer p, .section-banner-footer strong{
  color: #fefefe;
}
/****************************************/
/*          Section Product Items    */
/****************************************/
section.section{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
}
.section-product-container{
  padding: 70px 0;
}
.section-product-items{
  padding: 0 50px;
}
.product-item-content{
  text-align: center;
}
.product-item-content button, .product-item-content a.btn{
  width: 100%;
  margin: 20px 0;
  border: 2px solid #161616;
  background-color: transparent;
  color: #161616;
  text-transform: uppercase;

}
.product-item-content button:hover, .product-item-content a.btn:hover {
  width: 100%;
  margin: 20px 0;
  border: 2px solid #bf3415;
  background-color: #bf3415;
  color: #fff;
}
.product-item-img{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 201px;
  width: 100%;
}
.product-item-img img{
  width: auto;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.product-link-lower {
  border-radius: 50%;
  padding: 13px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -30px;
  height: 53px;
  width: 53px;
  text-align: center;
  background: #f3f3f3;
  z-index: 1;
}
.product-link-lower img{
  width: 17px;
  height: 11px;
  margin-top: 10px;
}
/*          Ecigarrete section       */
.section-ecigarrete-container {
  padding: 80px 0 80px;
}
.ecigarrete-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .16;
}
.ecigarrete-container{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ecigarrete-container img {
  width: 100%;
}
.ecigarrete-content{
  padding: 25px;
}
.ecigarrete-content *{
  color: #fff;
}
.ecigarrete-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ecigarrete-content h3{
  font-family: Raleway-ExtraBold;
}
.ecigarrete-content a{
  font-family: Raleway-Medium;
}
.ecigarrete-link{
  position: absolute;
  bottom: 40px;
}
.ecigarrete-link:hover {
  font-size: 20px;
  color: #f3f3f3;
  text-decoration: none;
}
.arrow-right{
  width: 17px;
  height: 12px;
  background: url("../images/icon/arrow-right.png") no-repeat;
  display: inline-block;
  margin-left: 10px;
}
/********************************/
/*          Promotional Section Product Slider       */
/********************************/
.team_columns_carousel_wrapper {
  padding: 0 54px;
  overflow: hidden
}
.arrow-head-black-left{
  background: url("../images/icon/arrow-head-black-left.png");
  width: 9px;
  height: 16px;
  display: inline-block;
}
.arrow-head-black-right{
  background: url("../images/icon/arrow-head-black-right.png");
  width: 9px;
  height: 16px;
  display: inline-block;
}
.team_columns_carousel_control{
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  width: 44px;
  height: 44px;
  border: 2px solid #000;
  padding-top: 8px;
}
.team_columns_carousel_control:hover {
  background: #f3f3f3;
  border: 2px solid #e8e7e7;
}
.adv_left{
  left: 0;
}
.adv_right{
  right: 0;
}
.team_columns_carousel_control_icons {
  line-height: 35px;
  font-size: 20px!important;
  font-weight: normal!important;
  margin-top:8px;
}
.team_columns_item_image {
  padding: 15px;
}

.team_columns_item_image img {
  width: 100%;
  //-webkit-filter: grayscale(70%);
  //-moz-filter: grayscale(70%);
  //-ms-filter: grayscale(70%);
  //-o-filter: grayscale(70%);
  //filter: grayscale(70%);
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s
}
.team_columns_item_image:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%)
}
.team_columns_item_caption {
  padding: 10px;
  text-align: center;
  padding-bottom: 30px
}
.team_columns_item_caption>hr {
  width: 15%
}
.team_columns_item_caption h4 {
  text-transform: uppercase;
  font-family: 'Raleway-Bold';
  font-size: 16px;
  line-height: 1.3;
}
.team_columns_item_caption h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif
}
.team_columns_item_caption p {
  margin: 20px 0;
}
.team_columns_item_caption p a,
.team_columns_item_caption p a:visited {
  text-decoration: none;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s
}
.team_columns_item_social a,
.team_columns_item_social a:visited {
  width: 25px;
  float: left;
  height: 25px;
  display: block;
  line-height: 25px;
  margin-right: 2px;
  text-decoration: none;
  -webkit-transition: background ease-in-out .3s;
  transition: background ease-in-out .3s
}
@media(min-width:768px) and (max-width:789px) {
  .adv_team_columns_item_social a, .adv_team_columns_item_social a:visited {
    margin-right: 0
  }
}
.team_columns_carousel_wrapper {
  background: #fff
}
.team_columns_carousel_control_left,
.team_columns_carousel_control_left:hover,
.team_columns_carousel_control_left:active,
.team_columns_carousel_control_left:focus,
.team_columns_carousel_control_right,
.team_columns_carousel_control_right:hover,
.team_columns_carousel_control_right:active,
.team_columns_carousel_control_right:focus {
  color: #fff;
  background: #fff;
}
.team_columns_item_caption {
  color: #161616;
  background: #f3f3f3;
}
.team_columns_item_caption>hr {
  border-top: 2px solid #feb600
}
.team_columns_item_caption p a,
.team_columns_item_caption p a:visited {
  color: #feb600
}
.team_columns_item_caption p a:hover,
.team_columns_item_caption p a:active {
  color: #cb9200
}
.team_columns_item_social a,
.team_columns_item_social a:visited {
  color: #171717;
  background: #feb600
}
.team_columns_item_social a:hover,
.team_columns_item_social a:active {
  background: #cb9200
}
.four_shows_one_move .cloneditem-1,
.four_shows_one_move .cloneditem-2,
.four_shows_one_move .cloneditem-3 {
  display: none
}
@media all and (min-width: 768px) {
  .four_shows_one_move .carousel-inner>.active.left,
  .four_shows_one_move .carousel-inner>.prev {
    left: -50%
  }
  .four_shows_one_move .carousel-inner>.active.right,
  .four_shows_one_move .carousel-inner>.next {
    left: 50%
  }
  .four_shows_one_move .carousel-inner>.left,
  .four_shows_one_move .carousel-inner>.prev.right,
  .four_shows_one_move .carousel-inner>.active {
    left: 0
  }
  .four_shows_one_move .carousel-inner .cloneditem-1 {
    display: block
  }
}
@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
  .four_shows_one_move .carousel-inner>.item.active.right,
  .four_shows_one_move .carousel-inner>.item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.active.left,
  .four_shows_one_move .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.left,
  .four_shows_one_move .carousel-inner>.item.prev.right,
  .four_shows_one_move .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0
  }
}
@media all and (min-width: 992px) {
  .four_shows_one_move .carousel-inner>.active.left,
  .four_shows_one_move .carousel-inner>.prev {
    left: -25%
  }
  .four_shows_one_move .carousel-inner>.active.right,
  .four_shows_one_move .carousel-inner>.next {
    left: 25%
  }
  .four_shows_one_move .carousel-inner>.left,
  .four_shows_one_move .carousel-inner>.prev.right,
  .four_shows_one_move .carousel-inner>.active {
    left: 0
  }
  .four_shows_one_move .carousel-inner .cloneditem-2,
  .four_shows_one_move .carousel-inner .cloneditem-3 {
    display: block
  }
}
@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
  .four_shows_one_move .carousel-inner>.item.active.right,
  .four_shows_one_move .carousel-inner>.item.next {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.active.left,
  .four_shows_one_move .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.left,
  .four_shows_one_move .carousel-inner>.item.prev.right,
  .four_shows_one_move .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0
  }
}
/********************************/
/*         Promotion Slider Stylings     */
/********************************/
.promotion-head * {
  margin: 0;
  padding: 0;
}
.promotion-head {
  text-align: center;
  font-family: Raleway-Bold;
  font-size: 16px;
  text-transform: uppercase;
}

.promotion-head .section-title{
  font-family: Raleway-ExtraBold;
  font-size: 36px;

}
.promotion-head ul li a {
  color: #161616;
  font-family: "Raleway-Medium";
}
.promotion-head ul li.active a{
  color: #bf3415;
  font-family: "Raleway-ExtraBold";

}
/* Base setup */
/********************************/
/*          Star Rating Stylings      */
/********************************/
/* Base setup */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Ratings widget */
.rate {
  display: inline-block;
  border: 0;
}
/* Hide radio */
.rate > input {
  display: none;
}
/* Order correctly by floating highest to the right */
fieldset.rate {
  position: relative;
}
.rate > label {
  float: right;
  color: #aaaaaa;
}
/* The star of the show */
.rate > label:before {
  display: inline-block;
  font-size: 1.1rem;
  padding: .3rem .2rem;
  margin: 0;
  cursor: pointer;
  font-family: FontAwesome;
  content: "\f005 "; /* full star */
  top: 5px;
}
/* Zero stars rating */
.rate > label:last-child:before {
  content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate .half:before {
  content: "\f089 "; /* half star no outline */
  position: absolute;
  padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #bf3415;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #bf3415;  }
/********************************/
/*          Start from Promo Prices      */
/********************************/
.promo-price{
  display: block;
  font-family: 'Raleway-SemiBold';
  font-size: 30px;
}
.promo-item-description{
  font-family: Raleway-Medium;
  font-size: 14px;
  color: #727272;
}
.promotional-items {
  position: relative;
  margin: 35px 0;
}
.btn-promo-price{
  border: 2px solid #161616;
  color: #161616;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-promo-price{
  border: 2px solid #161616;
  color: #161616;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-promo-price:hover{
  background-color: #bf3415;
  border-color: #bf3415;
  color: #ffffff;
}
/********************************/
/*          Subscribe Section       */
/********************************/
.subscribe-container {
  padding: 100px 0;
  z-index: 1;
  position: relative;
  font-size: 30px;
}
.section-subscribe{
  background-size: cover;
}
.section-subscribe:before {
  background: #2c2c2c;
  opacity: .25;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.subscribe-container p, .subscribe-content{
  font-family: 'Raleway-ExtraBold';
  color: #ffffff;
  margin-bottom: 25px;
}
.subscribe-container a.btn.btn-red{
  padding: 10px 40px;
}
/********************************/
/*         Home Details       */
/********************************/
.section-home-details {
  padding-bottom: 50px;
}
.home-details-container {
  text-align: center;
}
.home-details-container .title{
  font-family: Raleway-ExtraBold;
  font-size: 28px;
  margin: 40px 0 30px;
}
.home-details-container .details{
  font-family: Raleway-Regular;
  font-size: 18px;
}
.home-details-container .details strong{
  font-family: Raleway-Bold;
}
/*New Start*/
.home{
  .promotional-items{
    padding: 0 30px;
  }
  ul.products {
    width: 100%;
    display: inline-block;
    overflow: hidden;

    li .ul-products-li{
      >a{
        height: 265px;
      }
    }

    button.slick-arrow{
      background: #fff;
      border: 2px solid #000;
      padding: 10px 20px;
      border-radius: 0;

      &:hover{
        background-color: #bf3415;
        border: 2px solid #bf3415;
      }
    }

    button.slick-prev{
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: -45px;
      z-index: 1;
      &:hover{
        .arrow-head-black-left{
            background: url("../images/icon/arrow-head-white-left.png");
        }
      }
    }
    button.slick-next{
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: -45px;
      &:hover{
        .arrow-head-black-right{
          background: url("../images/icon/arrow-head-white-right.png");
        }
      }
    }
    li>a:first-child{
      display: block;
      width: 100%;
      height: 238px;
      position: relative;

      img{

        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        margin: 0 auto;
        max-width: 100%;
        width: auto;
        max-height: 100%;


      }
    }
    .related-product-content{
      text-align: center;
      padding: 30px 15px;
      a:first-child{
        display: block;

        h2{
          margin: 0;
          overflow: hidden;
          margin-bottom: 15px;
        }

        .woocommerce-Price-amount{
          font-size: 27px;
        }

      }

      .short-excerpt{
        height: 43px;
        overflow: hidden;
      }
    }
  }

}