.archive.post-type-archive-product.colors-light .product-page-category{
  background-color: #fff;
}
ul.products{
  li{
     .ul-products-li{
       border: 1px solid #f3f3f3;
       >.woocommerce-LoopProduct-link{
         position: relative;
         display: block;
         height: 174px;
         right: 0;
         width: 100%;

         img{
           position: absolute;
           top: 50%;
           left: 0;
           right: 0;
           transform: translate(0, -50%);
           margin: 0 auto;
           max-width: 100%;
           width: auto;
           max-height: 100%;
           display: block;
         }
       }
       .related-product-content{
         background-color: #f3f3f3;
         padding: 30px 20px;
         a.added_to_cart.wc-forward {
           margin-top: 10px;
           display: inline-block;
           color: #bf3415!important;
           font-family: 'Raleway-Bold';
           box-shadow: none;
         }

         a{
           text-decoration: none;
           color: #161616;
           .woocommerce-loop-product__title{
             font-family: 'Raleway-Bold';
             font-size: 16px;
             height: 34px;
             overflow: hidden;
           }
           .star-rating{
             margin: auto;
             margin-bottom: 5px;

             span::before {
               color: #bf3415;
             }
           }
           .woocommerce-Price-amount{
             font-family: 'Raleway-SemiBold';
             font-size: 30px;
           }
         }
         .short-excerpt{
           font-family: 'Raleway-Medium';
           font-size: 14px;
           height: 70px;
         }
         .button{
           box-shadow: none!important;
           text-transform: uppercase;
           font-family: 'Raleway-Bold';
           border: 2px solid #bf3415;
           color: #bf3415;
           padding: 10px 25px;
           border-radius: 5px;
           margin-top: 20px;
           display: inline-block;

           &:hover,&:active,&:focus{
             background-color: #bf3415;
             border: 2px solid #bf3415;
             color: #fff;
             outline: none;
           }
         }
       }
     }
  }
}


//Breadcrumbs
.woocommerce-breadcrumb{
  color: #fff;
  font-family: 'Raleway-Regular';
  font-size: 15px;
  padding: 0;
  margin: 0 0 10px;
  border: none;
  a{
    color: #fff;
    font-family: 'Raleway-Regular';
    font-size: 15px;
    box-shadow: none;

  }
}

//Pagination
nav.woocommerce-pagination{
  ul.page-numbers{
    li{
      color: #161616;
      background-color: #fff;

      span,
      a,
      a.page-numbers{
        background-color: #fff;
        border: 1px solid #161616;
        font-size: 10px;
        color: #161616;
        font-family: 'Raleway-Bold';
        font-weight: normal;

        &:hover{
          border: 1px solid #bf3415;
          background-color: #bf3415;
          color: #fff;
        }
      }

      span{


      }
      span.current{
        border: 1px solid #bf3415;
        background-color: #bf3415;
        color: #fff;
      }

      a{
        text-decoration: none;


      }
      a.page-numbers{



      }
    }
  }
}