.page-template-login{
  h2{
    font-family: 'Raleway-ExtraBold';
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;

  }
  p{
    font-size: 16px;
    margin-bottom: 30px;
  }
  p#password-p {
    margin-bottom: 15px;
  }
  label{
    font-family: 'Raleway-Medium';
    font-size: 15px;
  }
  p.woocommerce-LostPassword.lost_password a{
    font-family: 'Raleway-SemiBold';
    color: #161616;
    font-size: 15px;
  }
  .btn-create-account,.btn-become-reseller{
      border: 2px solid #161616;
      color: #161616;
      font-family: 'Raleway-Bold';
      font-size: 16px;
      text-transform: uppercase;
      padding: 15px 20px;
      border-radius: 5px;
      display: inline-block;
  }
  .new-customer-btn {
    margin-top: 48px;
  }
  input.woocommerce-Button.button{
    font-family: 'Raleway-Bold';
    font-size: 16px;
    background: #fff;
    color: #161616;
    border: 2px solid #161616;
    text-transform: uppercase;
    padding: 15px 45px;
    border-radius: 5px;
  }
  input.woocommerce-Button.button:hover{
    background: #bf3415;
    color: #fff;
    border-color: #bf3415;
  }
  input:focus{
    border-color: #bbbbbb!important;
    -webkit-box-shadow: 4px 5px 20px -4px rgba(0,0,0,0.21);
    -moz-box-shadow: 4px 5px 20px -4px rgba(0,0,0,0.21);
    box-shadow: 4px 5px 20px -4px rgba(0,0,0,0.21);
  }
  .btn-create-account{
    margin-right: 10px;
  }
  .btn-create-account:hover,.btn-become-reseller:hover{
    border: 2px solid #bf3415;
    color: #fff;
    background: #bf3415;
    text-decoration: none;
  }
  .u-column1.col-1, .u-column2.col-2{
    padding: 40px;
  }
  .u-column1.col-1{
    background: #fff;

  }
}