.widget_shopping_cart{
  .widget_shopping_cart_content{
    padding: 30px;
  }
  ul.woocommerce-mini-cart{
    padding: 0;
    margin-bottom: 0;
    li.mini_cart_item{
      padding: 0 0 20px 0;

      a.remove{
        border: none;

        i{
          color: #bf3415;
        }

        &:hover{
          background: none;
        }
      }

      a:nth-of-type(2){
        font-family: 'Raleway-SemiBold';
        color: #161616;

        &:hover{
          color: #bf3415;
        }

        img.attachment-shop_thumbnail{
          display: inline-block;
          width: 55px;
          margin-right: 15px;
        }
      }
    }

  }
  p.woocommerce-mini-cart__buttons{
    margin: 0;
    .wc-forward{
      box-shadow: none;
      color: #bf3415;
      font-family: 'Raleway-Medium';
    }
  }

}