.page-template-mycart{
  .woocommerce-cart-form {
    background-color: #fff;
    td {
      padding: 0;
    }
    td.product-thumbnail {
      text-align: center;
    }
    .quantity {
      display: inline-block;
    }
    .quantity input {
      width: 155px;
      padding: 6px 10px;
    }
  }

  table.woocommerce-cart-form__contents {
    margin: 0;
  }
  tr.woocommerce-cart-form__cart-item.cart_item {
    border-bottom: 1px solid #ececec;
  }
  tr.woocommerce-cart-form__cart-item.cart_item:last-child {
     border-bottom: none;
   }
  tr {
    border: none;
  }
  tr.woocommerce-cart-form__cart-item.cart_item td {
    padding: 20px 0;
  }

  thead {
    background-color: #161616;

    tr{
      th{
        font-family: 'Raleway-Regular';
        font-weight: normal;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 0;
        color: #fff;
        border: none;
      }
    }
  }
  tbody {
    tr{
      td.actions {
        padding: 15px 25px 0 25px;

        &>input.button {
          border: 2px solid #bf3415;
          background: #ececec;
          text-transform: uppercase;
          color: #bf3415;
          font-family: 'Raleway-Bold';
          font-size: 14px;
          border-radius: 5px;
          padding: 12px 25px;

          &:hover {
            border: 2px solid #bf3415;
            background: #bf3415;
            text-transform: uppercase;
            color: #fff;
            font-family: 'Raleway-Bold';
            font-size: 14px;
            border-radius: 5px;
            padding: 12px 25px;
          }
        }
      }
    }
    .cart_item{
      td{
        color: #161616;
        font-family: 'Raleway-SemiBold';
        font-size: 18px;
        a{
          color: #161616;
          font-family: 'Raleway-SemiBold';
          font-size: 18px;
        }
      }
    }
    tr:last-child {
       background: #ececec;
    }
    td.product-thumbnail a img {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
      margin: 0 auto;
      max-width: 75%;
      width: auto;
      max-height: 100%;
    }
    td.product-remove {
      padding-right: 5px!important;
    }
    td.product-thumbnail a {
      display: inline-block;
      width: 80px;
      height: 75px;
      position: relative;
      margin: 0 auto;
      border: 1px solid #d1d1d1;
    }

  }
  .cart-collaterals {
    background: #ececec;
  }
  .icon-close-x{
    display: inline-block;
    background: url('../../assets/images/icon/icon-close-x.png') no-repeat;
    width: 12px;
    height: 12px;
  }
  .discount-label {
    display: block;
    text-align: left;
    font-family: 'Raleway-SemiBold';
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .coupon{
    input.button {
      border: 2px solid #bf3415;
      background: #ececec;
      text-transform: uppercase;
      color: #bf3415;
      font-family: 'Raleway-Bold';
      font-size: 14px;
      border-radius: 5px;
      padding: 12px 25px;
    }
    input.button:hover {
      border: 2px solid #bf3415;
      background: #bf3415;
      text-transform: uppercase;
      color: #fff;
      font-family: 'Raleway-Bold';
      font-size: 14px;
      border-radius: 5px;
      padding: 12px 25px;
    }
    input#coupon_code {
      border: none;
      width: 295px!important;
      /* height: 38px!important; */
      padding: 10px!important;
      line-height: 1;
      /* vertical-align: middle!important; */
    }

    input[type="text"]#coupon_code::-webkit-input-placeholder {
      color: #343434;
      font-family: 'Raleway-Light';
      font-size: 12px;
    }
    input[type="text"]#coupon_code:-moz-placeholder { /* Firefox 18- */
      color: #343434;
      font-family: 'Raleway-Light';
      font-size: 12px;
    }

    input[type="text"]#coupon_code::-moz-placeholder {  /* Firefox 19+ */
      color: #343434;
      font-family: 'Raleway-Light';
      font-size: 12px;
    }

    input[type="text"]#coupon_code:-ms-input-placeholder {
      color: #343434;
      font-family: 'Raleway-Light';
      font-size: 12px;
    }
  }
  .cart_totals{
    position: relative;
    margin-top: 20px;

    tr.order-total {
      line-height: 2;
    }

    tr.order-total th, tr.cart-subtotal th {
      text-align: right;
    }
    tr.order-total td, tr.cart-subtotal td {
      text-align: right;
    }
  }
  .wc-proceed-to-checkout{
    position: absolute;
    text-align: right;
    display: block;
    width: 100%;

    .checkout-button.button {
      border: 2px solid #bf3415;
      display: inline-block;
      border-radius: 5px;
      color: #bf3415;
      font-family: 'Raleway-Bold';
      text-transform: uppercase;
      padding: 10px 30px;
      margin-top: 38px;
      margin-right: 25px;
      
      &:hover, &:focus, &:active {
        text-decoration: none;
        background-color: #bf3415;
        color: #ffffff;
      }

      &:after {
        content: none;
      }
    }
  }
  tr.cart-subtotal th, tr.cart-subtotal td {
    font-size: 15px;
    color: #343434;
    font-family: 'Raleway-Regular';
    font-weight: 100!important;
  }
  tr.order-total th, tr.order-total td {
    font-family: 'Raleway-Medium';
    text-transform: uppercase;
    font-size: 22px;
  }
  .page-template-container {
    padding: 70px 0 190px;
  }
}