/*Top Header Style*/
.top-header{
  color: #9f9e9e;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
}
.top-header ul li a {
  color: #9f9e9e;
}
.top-header ul li a:hover {
  color: #bf3415;
  text-decoration: none;
}
.top-header ul li a:hover .icon.icon-profile {
  display: inline-block;
  background: url('../images/icon/icon-profile-red.png') no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.section-login{
  color: #9f9e9e;
  padding: 20px 0;
}
.section-login ul li {
  color: #9f9e9e;
  padding: 0 10px;
}
.icon{
  display: inline-block;
  vertical-align: middle;
}
.icon-search{
  background: url('../images/icon/icon-search.png') no-repeat;
  width: 19px;
  height: 19px;
}
.fa-search {
  color: #9f9e9e;
  font-size: 20px;
  margin-right: 10px;
}
.fa-shopping-cart {
  color: #9f9e9e;
  font-size: 23px;
}
.icon-cart{
  background: url('../images/icon/icon-cart.png') no-repeat;
  width: 23px;
  height: 19px;
  margin-left: 10px;
}
.icon.icon-profile{
  display: inline-block;
  background: url('../images/icon/icon-profile.png') no-repeat;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.icon.icon-badge{
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #d33f3f;
  border-radius: 50%;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
}
/* Navigation Styles */
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: #fff;
}
.navbar-transparent .navbar-nav>li>a{
  font-family: Montserrat-Bold;
  color: #161616;
  text-transform: uppercase;
  font-size: 15px;
  display: block;
}
#hover-menu>li>a:hover,#hover-menu>li>a:active,
li.current-menu-ancestor.current-menu-parent>a{
  color: #bf3415;
}
/* DEMO example styles for logo image */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px;
}
.navbar-transparent{
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
}
.navbar-lg{
  height: 100px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  margin-left: 0!important;
}
ul.dropdown-menu.dropwdown-style li a {
  font-family: Raleway-Bold;

  &:hover {
    background: #bf3415;
    color: #fff!important;
  }
}
ul.dropdown-menu.dropwdown-style{
  border: none;
  min-width: 100%;
  border-radius: 0;
  padding: 0;

}


.current-menu-item>a {
  color: #bf3415!important;
}

//Search Styling
.header-search {
  width: 200px;
  position: relative;
  float: left;
  height: 100%;
}

.header-search input {
  position: absolute;
  width: 0px;
  float: Left;
  margin-left: 210px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  border-radius:0;
  padding: 0 2px 0 2px;
  background: transparent;
  border: 0;
  box-shadow: none;
}

.header-search:hover input, .header-search input:focus {
  width: 200px;
  height: 25px;
  margin-left: -25px;
  color: #ffffff;
  font-weight: bold;
  background: rgba(191, 52, 21,.8);
}

.header-search input::placeholder {
  color: #ffffff;
  font-weight: normal;
}

.btn-srch {
  position: absolute;
  right: 0;
  border: 0;
  background: transparent;
}

.btn-srch-2 {
  position: absolute;
  right: 0;
  border: 0;
  background: transparent;
  color:yellow;
}

ul.list-inline.pull-right.reset-mp li:first-child {
  height: 25px;
  top: 7px;
  position: relative;
}
button.btn-srch i, button.btn-srch-2 i {
  margin: 0;
}


button.btn-srch,
button.btn-srch:hover,
button.btn-srch-2,
button.btn-srch-2:hover {
  background: transparent;
  padding: 0;
}

ul.nav.navbar-nav.navbar-right{
  margin-right: 0;

  >li a{
    // padding: 15px 22px;
  }
  li ul li a{
    padding: 5px 22px;
  }

}

//Sub-subdropdown Menu
.menu-item-9273.open{
  ul.dropdown-menu.dropwdown-style{
    margin: 0;
    display: inline-block;
    top: 90px;
    left: 100%;
    border-radius: 0;
    min-width: 300px;
    padding: 10px 0;
  }
}

.open2>.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
#hover-menu>li:first-child>ul.dropdown-menu.dropwdown-style{
  min-width: 170%;
}
#hover-menu{
  >li.open{
    .dropdown-menu{
      >.dropdowm-submenu{
        >.dropdown-menu{
          position: relative;
        }
      }
    }
  }
}
.nav.navbar-nav.navbar-right{
  >li{
    >.dropdown-menu{
      left: 0;
      li.dropdown-submenu{
        >.dropdown-menu{
          left: -199%;
          width: 100%;

          @media (max-width:1024px) {
            left: -164%;
          }
          @media (max-width:768px) {
            top: 0!important;
          }
          @media (max-width:425px) {
            margin-top: 4px;
          }

          >li.dropdown-submenu{
            >.dropdown-menu{
              left: -100%;
              width: 100%;

            }
          }

        }
      }

    }

  }
}


@media (max-width:425px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background: #bf3415;
    color: #fff!important;
  }
  header nav #hover-menu > li > .dropdown-menu > li .dropdown-menu {
    margin-left: 10px;
  }
}