.new-template-container{
  *{
    margin: 0;
    padding: 0;
  }
  h1,h2,h3,
  h4,h5,h6{
    font-family: Raleway-ExtraBold;
    margin: 0 0 20px;
  }
  >h1,>h2,>h3,
  >h4,>h5,>h6{
    &:not(:nth-of-type(1)){
      margin-top: 40px;
    }
  }
  strong{
    font-family: Raleway-Bold;
  }
  p{
    margin: 0 0 20px;
  }
  ul{
    margin: 0 0 20px 20px;
    padding: 0 0 0 20px;

    li{
      line-height: 2;
    }
  }


/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
  .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
  }

  .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  .more-less {
    float: right;
    color: #212121;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
  }

  .panel-title{
    margin: 0;
  }
  .panel-body {
    padding: 30px;

    table{
      border: 1px solid #eeeeee;
      tbody{
        tr{
          td{
            padding: 10px;
          }
        }
      }
    }

    >p img.aligncenter{
      margin: 0 auto;
    }
  }
}