.archive.woocommerce-page{
  .product-page-subcategory{
    //Start woocommerce-product-header
    .woocommerce-products-header{
      text-align: left;
    }
    //End woocommerce-product-header

    .product-cat-details h1 {
      font-family: Raleway-ExtraBold;
      font-size: 30px;
      margin: 0 0 20px;
      text-transform: uppercase;
    }

    .product-cat-details h3 {
      font-family: 'Raleway-Bold';
      font-size: 22px;
    }
    .product-cat-details h4 {
      font-size: 16px;
      font-family: 'Raleway-SemiBold';
      padding: 0;
    }
    .checked-ul li{
      font-size: 16px;
      list-style: none;
      padding-left: 25px;
      position: relative;
      line-height: 2;
    }
    ul.checked-ul li:before {
      content: '';
      width: 14px;
      height: 14px;
      background: url('../../assets/images/icon/icon-circle-checked.png') no-repeat;
      display: inline-block;
      margin-right: 10px;
      position: absolute;
      left: 0px;
      top: 9px;
    }

    ul.products{
      li>.woocommerce-loop-product__link{
        display: inline-block;
        width: 100%;
        height: 200px;
        position: relative;

        img{
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          margin: 0 auto;
          max-width: 75%;
          width: auto;
          max-height: 100%;
        }
      }
      li {
        border: 1px solid #f3f3f3;
        text-align: center;
        width: 29.53%;

        .related-product-content *{
          color: #161616;
        }
        .related-product-content {
          background-color: #f3f3f3;
          padding: 30px 15px;

          a:hover{
            text-decoration: none;
          }

          .woocommerce-loop-product__title {
            margin: 0 0 15px;
            font-family: 'Raleway-Bold';
            font-size: 16px;
            height: 34px;
          }

          .star-rating{
            margin: auto;
          }

          .price {
            font-family: 'Raleway-SemiBold';
            font-size: 14px;
            margin-top: 5px;
          }

          .short-excerpt {
            font-family: 'Raleway-Medium';
            font-size: 14px;
          }
          .ajax_add_to_cart, .product_type_variable {
            box-shadow: none;
            text-transform: uppercase;
            font-family: 'Raleway-Bold';
            border: 2px solid #bf3415;
            padding: 10px 25px;
            border-radius: 5px;
            margin-top: 20px;
            color: #bf3415;
            display: inline-block;
          }

          .ajax_add_to_cart:hover,.product_type_variable:hover{
            background-color: #bf3415;
            border: 2px solid #bf3415;
            color: #fff;
          }


        }//end of .related-product-content
      }
    }

    .col-lg-8{
      .product-cat-details {
        margin-bottom: 80px;
      }
      //Start ul.products
      ul.products{
        text-align: center;
        >li.product{
          border: none;
          width: 29%;
          &:nth-child(3n){
            margin-right: 0;
          }

          .ul-products-li{
            >a.woocommerce-LoopProduct-link{
              height: 248.5px;
            }
            .related-product-content{
              .short-excerpt{
                height: 64px;
                overflow: hidden;
              }
            }
          }
        }

        li.product-category>a{
          position: relative;
          display: block;
          height: 174px;
          right: 0;
          width: 100%;

          img {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            margin: 0 auto;
            max-width: 75%;
            width: auto;
            max-height: 100%;
          }
        }
        li.type-product .ul-products-li >.woocommerce-loop-product__link{
          width: 100%;
          height: 248.5px;
          position: relative;
          display: block;

          img{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translate(0, -50%);
            max-height: 100%;
            max-width: 100%;
            width: auto;
            margin: 0 auto;
          }
        }

        li.product-category{
          clear: none;
          float: none;

          a{
            display: block;
            img{
              display: inline-block;
              vertical-align: middle;  /* vertical alignment of the inline element */
              float: right;
              position: absolute;
            }
          }
          .btn-subcat {
            display: inline-block;
            font-size: 13px;
            font-family: 'Raleway-Bold';
            color: #bf3415;
            position: absolute;
            left: 0;
            bottom: 0;
            text-transform: uppercase;

            .icon-arrow-right-red{
              background: url(../../assets/images/icon/icon-arrow-right.png) no-repeat;
              width: 17px;
              height: 12px;
              display: inline-block;
              vertical-align: middle;
              margin-left: 10px;
              margin-top: -2px;
            }
          }

        }
        li.product-category.product.last{
          margin: 0 10px 25px;
        }
        li.product-category.product {
          position: relative;
          width: 47%;
          min-height: 200px;
          background: #fff;
          padding: 20px;
          display: inline-block;
          margin: 0 10px 25px;

          .woocommerce-loop-category__title{
            margin: 0;
            padding: 0;
            display: inline-block;
            font-family: 'Raleway-ExtraBold';
            font-size: 26px;
            color: #161616;
            float: left;
            /*width: 145px;*/
            width: 191px;
            text-align: left;
            position: relative;
            z-index: 1;
          }
        }
      }  //End ul.products
    }
  }//end of .product-page-subcategory
}//end of .archive.woocommerce-page

.woocommerce ul.products li.first, .woocommerce-page ul.products li.first{
  clear: none;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last{
  margin-right: 3.8%;
}
