.archive.tax-product_cat.woocommerce-page{

  //Breadcrumb
  .woocommerce-breadcrumb{
    padding: 0;
    margin: 0;
    border: none;

    a{
      box-shadow: none;
    }
  }//end Breadcrumb

  //Start Woocommerce Header
  .woocommerce-products-header{
    text-align: center;
    margin-bottom: 50px;
    h1{
      font-family: Raleway-ExtraBold;
      font-size: 30px;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
    .term-description{
      font-family: Raleway-Regular;
      font-size: 18px;
    }
  }//End Woocommerce Header

  .single-product-page{
    padding: 30px 0 10px 0px;

  }

  .product-page-category{
    background-color: #f3f3f3;

    //Start ul.products
    ul.products{
      text-align: center;
      li{
          margin: 0 auto;
          width: 25%;

        .related-product-content{
          padding: 30px 15px;

          .short-excerpt{
            overflow: hidden;
            height: 62px;
          }
        }
        .ul-products-li {
          margin: 0 17px 30px;
        }
      }
      li.product-category a{
        position: relative;
        display: block;
        height: 174px;
        right: 0;
        width: 100%;

        img {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
          margin: 0 auto;
          max-width: 75%;
          width: auto;
          max-height: 100%;
        }
      }
      li.type-product .ul-products-li >.woocommerce-loop-product__link{
        width: 100%;
        height: 250px;
        position: relative;
        display: block;

        img{
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translate(0, -50%);
          max-height: 100%;
          max-width: 100%;
          width: auto;
          margin: 0 auto;
        }
      }

      li.product-category{
        clear: none;
        float: none;

        a{
          display: block;
          img{
            display: inline-block;
            vertical-align: middle;  /* vertical alignment of the inline element */
            float: right;
            position: absolute;
          }
        }
        .btn-subcat {
          display: inline-block;
          font-size: 13px;
          font-family: 'Raleway-Bold';
          color: #bf3415;
          position: absolute;
          left: 0;
          bottom: 0;
          text-transform: uppercase;

          .icon-arrow-right-red{
            background: url(../../assets/images/icon/icon-arrow-right.png) no-repeat;
            width: 17px;
            height: 12px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            margin-top: -2px;
          }
        }

      }
      li.product-category.product.last{
        margin: 0 10px 25px;
      }
      li.product-category.product {
        width: 30%;
        min-height: 200px;
        background: #fff;
        padding: 20px;
        display: inline-block;
        margin: 0 10px 25px;

        .woocommerce-loop-category__title{
          margin: 0;
          padding: 0;
          display: inline-block;
          font-family: 'Raleway-ExtraBold';
          font-size: 26px;
          color: #161616;
          float: left;
          /*width: 145px;*/
          width: 191px;
          text-align: left;
          position: relative;
          z-index: 1;
        }
      }
    }  //End ul.products
  }

}/*end of body.archive.woocommerce-page*/
