.product-page-category{
/*  background-color: #f3f3f3;*/
  .col-lg-12{
    ul.products{
      li.product.type-product{
        display: inline-block;
        float: none;
        margin: 0 auto;
        width: 24.72%;

        .ul-products-li{
          >a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
            height: 272px;
          }
          border: 1px solid #f3f3f3;
          background-color: #fff;
          .related-product-content{
            background-color: #fff;
            .wc-forward{
              display: block;
            }
          }
        }
      }
      .ul-products-li{
        margin: 0 15px 30px;

        >.woocommerce-LoopProduct-link{
          height: 276px;
        }
      }
    }
    .related-product-content .short-excerpt {
      height: 61px;
      overflow: hidden;
    }
    @media (max-width: 1024px) {
      ul.products{
        li.product.type-product {
          width: 33%;

          .ul-products-li{
            >a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
              height: 274px;
            }
          }
        }
      }
    }
    @media (max-width: 768px){
      ul.products {
        li.product.type-product {
          width: 49.68%;

          .ul-products-li{
            >a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
              height: 322px;
            }
          }
        }
      }
    }
    @media (max-width: 425px){
      ul.products {
        li.product.type-product {
          width: 100%;

          .ul-products-li{
            >a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
              height: 359px;
            }
          }
        }
      }
    }
    @media (max-width: 375px){
      ul.products {
        li.product.type-product {
          width: 100%;

          .ul-products-li{
            >a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
              height: 309px;
            }
          }
        }
      }
    }
    @media (max-width: 320px){
      ul.products {
        li.product.type-product {
          width: 100%;

          .ul-products-li{
            >a.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
              height: 254px;
            }
          }
        }
      }
    }
  }
}