.registration-form-container {
  background: #fff;
  padding: 30px 30px 50px;
  font-family: 'Raleway-Regular';
  font-size: 15px;

  .personal-information, .login-information{
    font-family: "Raleway-ExtraBold" !important;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .clear {
    margin-bottom: 20px;
  }
  input.woocommerce-Button.button.register-btn {
    padding: 15px 50px;
    background: #fff;
    color: #161616;
    border: 2px solid #161616;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Raleway-Bold';
    font-size: 16px;
    margin-top: 30px;
  }
  input.woocommerce-Button.button.register-btn:hover {
    background: #bf3415;
    border: 2px solid #bf3415;
    color: #fff;
  }

}
.registration-banner {
  background-color: #bf3415;
  font-family: 'Raleway-Regular';
  font-size: 15px;
  padding: 45px 0 15px;

  h2{
    color: #fff;
    font-family: 'Raleway-Black';
    font-size: 30px;
    text-transform: uppercase;
  }
  ul {
    li{
        color: #fff;
        padding: 0 1px;
      a{
        color: #fff;
      }
      span{
        color: #fff;
      }
    }
  }
}