/*Reset*/
*{
  margin: 0;
  padding: 0;
  color: #161616;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background: #fff;
  font-family: "Raleway-Regular";
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.reset-mp{
  margin: 0;
  padding: 0;
}
a {
  &:focus,
  &:hover,
  &:active,
  &:visited {
    box-shadow: none !important;
  }
}