.archive.post-type-archive-product.woocommerce.woocommerce-page{
  .product-page-category{
    ul.products{
      text-align: center;
      li{
        display: inline-block;
        float: none;
        margin: 0 auto;
        .ul-products-li{
          .related-product-content{
            .wc-forward{
              display: block;
            }
          }
        }
      }
    }
    #main {
      & > .product-page-category {
        & > .single-product-page {
          & > .container {
            width: auto;
            padding: 0;
          }
        }
      }
    }
  }
}
.archive #main > .product-page-subcategory > .single-product-page > .container > .row > .col-md-8,
.archive #main > .product-page-subcategory > .single-product-page > .container > .row > .col-lg-8,
.archive #main > .product-page-category > .single-product-page > .container > .row > .col-md-8,
.archive #main > .product-page-category > .single-product-page > .container > .row > .col-lg-8, .product-template-default #main > .product-page-subcategory > .single-product-page > .container > .row > .col-md-8,
.product-template-default #main > .product-page-subcategory > .single-product-page > .container > .row > .col-lg-8,
.product-template-default #main > .product-page-category > .single-product-page > .container > .row > .col-md-8,
.product-template-default #main > .product-page-category > .single-product-page > .container > .row > .col-lg-8 {
  float: right;
}