.widget {
  padding: 0;
  margin-bottom: 60px;
  border: 1px solid #f3f3f3;
  color: #161616;
}
.widget-area {
  // margin-left: 35px;
}
.widget ul {
  padding: 30px;
}

.widget.woocommerce .widget-title, .widget .ywcca_widget_title,.widget-area .widget .widget-title {
  margin: 0;
  padding: 25px 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: normal;
  color: #161616;
  background-color: #ececec;
  font-family: 'Raleway-Bold';
  text-transform: uppercase;
}
.widget ul li, .widget_yith_wc_category_accordion ul.ywcca_category_accordion_widget > li {
  border: none;
  box-shadow: none;
  .fa-plus {
    font-size: 16px;
    float: right;
    position: relative;
    right: 10px;
  }
}

.woocommerce .product-categories li:last-child {
  padding: 0;
}
.woocommerce .product-categories li a, .widget_yith_wc_category_accordion ul.ywcca_category_accordion_widget > li a {
  color: #161616;
  font-family: 'Raleway-SemiBold';
  font-size: 16px;
  text-transform: capitalize;
}
.widget_recent_entries ul li a {
  color: #161616;
  font-family: Raleway-SemiBold;
}
.recent-posts-extended .rpwe-ul {
  padding-bottom: 0;
  font-family: Raleway-Light;
}
.recent-posts-extended .rpwe-ul li a{
  font-family: Raleway-Light;
  color: #161616;
}
.visit-blog {
  text-align: center;
  font-size: 12px;
  font-family: 'Raleway-Bold';
  margin: 20px 0;
}
.visit-blog a{
  color: #bf3415;
  text-transform: uppercase;
  box-shadow: none;
}

.rpwe-alignleft.rpwe-thumb{
  margin: 2px 10px 2px 0;
  border: none!important;
  padding: 0!important;
}
.rpwe-block ul.rpwe-ul {
  padding: 30px!important;
}
.rpwe-block h3{
  padding: 0;
  display: none;
}
.rpwe-summary {
  line-height: 1.5;
  font-size: 14px!important;
}

.widget_yith_wc_category_accordion {
  ul.ywcca_category_accordion_widget{
    li {
      i{
        right: 10px;
        position: relative;
      }

      ul.children {
        margin-left: 20px;

        li{
          a{
            font-family: 'Raleway-light';
          }
        }
        .current-cat{
          a{
            color: #bf3415;
          }
        }

      }
    }
  }
}
.woocommerce-mini-cart__empty-message {
  margin: 0;
  /*padding: 30px 65px;*/
  text-align: center;
}
.woocommerce.widget_product_tag_cloud {
  border: none;

  .widget-title{
    background-color: #fff;
    text-align: left;
    padding: 15px 0;
  }
  .tagcloud .tag-cloud-link {
    font-family: 'Raleway-Medium';
    font-size: 15px !important;
    color: #161616;
    text-transform: uppercase;
    border: 2px solid #161616;
    border-radius: 5px;
    padding: 10px 20px !important;
  }

}
