.single-post-container{
  .entry-header {
    text-align: center;

    .entry-title {
      margin-top: 70px;
      font-size: 46px;
      font-family: 'Raleway-Black';
      text-transform: uppercase;
    }
    .entry-date{
      font-family: 'Raleway-Regular';
      font-size: 22px;
      color: #8e8c8c;
    }
  }
  .entry-content{
    margin-top: 60px;
    p{
      font-family: Raleway-Light;
      font-size: 20px;
      text-align: justify;
    }
    .size-full {
      /*margin-bottom: 70px;*/
    }
  }
  .addtoany_content_bottom {
    text-align: center;
  }
  .a2a_s__default {
    padding: 5px;
    background: #27272b!important;
    border-radius: 0!important;
  }
  .addtoany_header {
    text-transform: uppercase;
    color: #bf3415;
    font-family: Raleway-Black;
    font-size: 20px;
    margin-top: 80px;
  }
  .addtoany_list a, .widget .addtoany_list a {
    padding: 0 8px;
  }
  .post-navigation {
    position: relative;
    font-weight: normal;

    &:before {
      content: '';
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      border-top: 1px solid #bbbbbb;
    }

    .nav-links{
      a{
        &:focus,
        &:hover,
        &:active,
        &:visited{
          box-shadow: none!important;
        }
      }
    }
  }
  .icon-prev-post{
    display: inline-block;
    width: 12px;
    height: 24px;
    background: url("../../assets/images/icon/icon-prev.png") no-repeat;
  }
  .icon-controler-container{
    padding-top: 12px;
    top: 3px;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: center;
    border: 2px solid #bbbbbb;
  }
  .icon-next-post{
    display: inline-block;
    width: 12px;
    height: 24px;
    background: url("../../assets/images/icon/icon-next.png") no-repeat;
  }
  .nav-subtitle {
    display: inline-block;
    text-transform: capitalize;
    font-family: 'AvenirNextLT-Regular';
    font-size: 20px;
    color: #c6c6c6;
    letter-spacing: normal;
  }
  .nav-previous .nav-subtitle {
    margin-left: 10px;
  }
  .nav-next .nav-subtitle {
    margin-right: 10px;
  }
  .icon-controler-controler-center {
    padding-top: 12px;
    position: absolute;
    display: inline-block;
    width: 54px;
    height: 54px;
    text-align: center;
    border: 2px solid #bbbbbb;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 18px auto 0;

    a{
      &:focus,
      &:hover,
      &:active,
      &:visited{
        box-shadow: none!important;
      }
    }
  }
  .icon-blog-list{
    display: inline-block;
    background: url('../../assets/images/icon/icon-blog-list.png');
    width: 26px;
    height: 23px;
  }
   article {
    padding: 0 50px 0;
  }
}
