.single-product{
  .single-product-banner{
    background-color: #bf3415;
    padding: 45px 0 20px;

    .single-product-banner-container{
      color: #fff;
      .title{
        margin: 0 0 10px;
        font-family: 'Raleway-Black';
      }
      nav.woocommerce-breadcrumb {
        border: none;
        margin: 0;
        padding: 0;
        color: #fff;
        font-family: 'Raleway-Regular';
        font-size: 15px;

        a{
          box-shadow: none;
          color: #fff;
        }
      }
    }
  }
  .single-product-page {
    padding: 30px 0 0px 0px;
    font-size: 16px;

    ol.flex-control-nav.flex-control-thumbs {
      display: inline-block;
      margin-top: 20px;

      li {
        border: 1px solid #cccccc;
        margin: 15px 15px 0 0;

        &:nth-of-type(4){
          margin-right: 0;
        }
      }
    }
    .woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
      width: 20.8%;
    }
    .product_title.entry-title {
      font-family: 'Raleway-Extrabold';
      font-size: 30px;
      text-transform: uppercase;
      margin: 0;
    }
    .woocommerce-product-details__short-description ul {
      margin-left: 0;
    }
    .summary.entry-summary {
      padding-left: 5px;
    }
    .addtoany_list {
      display: none;
    }
    .woocommerce-product-rating {
      margin: 15px 0 42px;
    }
    .star-rating {
      margin-bottom: 10px;
    }

    .star-rating span::before {
      color: #bf3415;

    }
    a.woocommerce-review-link {
      color: #161616;
      box-shadow: none;
      font-size: 13px;
    }
    .summary p.price {
      font-size: 32px;
      font-family: 'Raleway-SemiBold';
      margin: 0;
    }
    .price,
    .amount,
    .woocommerce-Price-currencySymbol{
      color: #bf3415;
    }
    .woocommerce-product-details__short-description ul li {
      list-style: none;
    }

    .woocommerce-product-details__short-description ul li::before {
      color: #9a9a9a;
      content: "\2022";
      font-size: 30px;
      padding-right: 1.1225em;
      position: relative;
      top: 5px;
      padding: 0;
      padding-right: 10px;
      line-height: normal;
    }
    tr{
      border: none;
    }
    label {
      font-family: 'Raleway-SemiBold';
      font-size: 16px;
      vertical-align: middle;
    }
    td.label {
      padding: 0;
      display: inline-block;
      margin-top: 10px;
    }
    .variations{
      margin-top: 40px;
    }
    .variations select {
      font-size: 14px;
      height: 30px;
      font-family: 'Raleway-SemiBold';
      margin-bottom: 20px;
      padding: 0 5px;
    }
    .reset_variations {
      display: block;
      text-align: right;
      position: relative;
      right: 56px;
      box-shadow: none;
      color: #bf3415;
      font-family: 'Raleway-SemiBold';
      font-size: 14px;
    }
    select#pa_choose-battery {
      margin-bottom: 10px;
    }
    .required-sign{
      //color: #bf3415;
    }
    .number-items {
      display: block;
      width: 100%;
      font-family: 'Raleway-SemiBold';
      font-size: 16px;
    }
    .quantity {
      width: 155px;
      font-family: 'Raleway-SemiBold';
      padding: 8px 10px;

      input.input-text.qty.text {
        width: 155px;
      }
    }
    button.single_add_to_cart_button.button {
      background: #fff;
      border: 2px solid #bf3415;
      font-family: Raleway-Bold;
      border-radius: 5px;
      padding: 10px 40px;
      color: #bf3415;

      &:hover {
        background-color: #bf3415;
        color: #ffffff;
      }
    }
    form.cart .quantity {
      padding: 0;
      display: block;
      width: 100%;
      margin-bottom: 35px;

    }
    .woocommerce-variation-add-to-cart .button.disabled{
      opacity: 1;
    }
    .related.products{
      h2{
        text-transform: uppercase;
        font-family: 'Raleway-ExtraBold';
        font-size: 22px;
        margin-bottom: 30px;
      }
      *{
        color: #161616;
      }
      ul.products{
        li.type-product .ul-products-li >.woocommerce-loop-product__link{
          width: 100%;
          height: 240px;
          position: relative;
          display: block;

          img{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translate(0, -50%);
            max-height: 100%;
            max-width: 100%;
            width: auto;
            margin: 0 auto;
          }
        }
      }
      ul.products li{
        border: 1px solid #f3f3f3;
        text-align: center;


        .woocommerce-loop-product__title{
          padding: 0;
          margin: 0;
          font-family: 'Raleway-Bold';
          font-size: 16px;
          margin-bottom: 15px;
          letter-spacing: normal;
          height: 34px;
          overflow: hidden;
        }
        .short-excerpt {
          height: 70px;
        }
        .star-rating::before {
          color: #aaaaaa;
        }
        .star-rating {
          margin: auto;
        }
      }
    }
    .related-product-content{
      background-color: #f3f3f3;
      padding: 25px;
      a:hover{
        text-decoration: none;
      }
      .post-excerpt {
        font-family: 'Raleway-Medium';
        font-size: 14px;
      }
      .price{
        margin-bottom: 5px;
        margin-top: 5px;
        display: inline-block;
      }
      .woocommerce-Price-amount.amount{
        font-family: 'Raleway-SemiBold';
        font-size: 30px;

      }
      .add_to_cart_button {
         box-shadow: none;
         text-transform: uppercase;
         font-family: 'Raleway-Bold';
         border: 2px solid #161616;
         padding: 10px 25px;
         border-radius: 5px;
         margin-top: 20px;
         display: inline-block;
       }
      .add_to_cart_button:hover{
        background-color: #bf3415;
        border: 2px solid #bf3415;
        color: #fff;
      }
    }
    .flex-viewport {
      border: 1px solid #cccccc;
    }
    .woocommerce-product-gallery__image{

    }

  }
}
.tabs.wc-tabs {
  display: none;
}
.woocommerce img, .woocommerce-page img{
  margin: 0 auto;
}
.woocommerce .related ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce .upsells.products ul li.product, .woocommerce-page .related ul.products li.product,
.woocommerce-page .related ul li.product, .woocommerce-page .upsells.products ul.products li.product,
.woocommerce-page .upsells.products ul li.product {
  width: 29.535%;
}

.single-product{
  section.related.products{
    ul.products{
      >li.product{
        border: none;
      }
      >li{

        .ul-products-li{
          >.woocommerce-LoopProduct-link.woocommerce-loop-product__link{
            height: 240px;
          }
          .related-product-content{
            .short-excerpt{
              height: 62px;
              overflow: hidden;
            }
            .woocommerce-Price-amount{
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}