.archive.tax-product_tag{
  .product-page-category{
    background-color: #fff;
    .col-lg-12{
      ul.products{
        padding-top: 125px;
        padding-bottom: 125px;
        text-align: center;
        >li,strong >li{
          width: 24.72%;
          display: inline-block;
          float: none;
          margin: 0 auto;

          @media(max-width: 1024px){
            width: 33%;
          }
          @media(max-width: 768px){
            width: 49.68%;
          }
          @media(max-width: 425px){
            width: 100%;
          }
          .ul-products-li{
            margin: 0 15px 30px;
            >a{
              height: 276px;

              @media(max-width: 768px){
                height: 326px;
              }
              @media(max-width: 425px){
                height: 363px
              }
              @media(max-width: 375px){
                height: 313px;
              }
              @media(max-width: 320px){
                height: 258px;
              }
            }
            .related-product-content{
              .short-excerpt{
                height: 61px;
                overflow: hidden;
              }
              .wc-forward{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}