.logged-in.woocommerce-account{
  .bg-gray{
    .container{
      background-color: #fff;
      padding: 40px;
    }
  }
  .woocommerce-orders-table{
    padding: 20px;
    border: 1px solid #eeeeee;
    thead{
      tr{
        th{
          background: #000;
          font-size: 18px;
          padding: 0 20px;
          font-weight: normal;
          border: none;
          padding: 15px 20px;

          span{
            color: #fff;
          }
        }

      }
    }
    tbody{
      tr{
        th, td{
          padding: 10px 20px;
        }
        td{
          a{
            color: #bf3415;
            font-family: 'Raleway-SemiBold';
            font-size: 18px;
          }

          ul{
            margin: 0 0 0 20px;

            li{
              p{
                display: inline-block;
                margin: 0;
              }
            }
          }
          span{
            font-family: 'Raleway-SemiBold';
            font-size: 18px;
          }
        }
      }


    }
    tfoot{
      tr{
        th, td{
          padding: 0 20px;
          font-family: 'Raleway-SemiBold';
          font-size: 18px;
        }
      }
    }
  }
  //Side bar
  .woocommerce-MyAccount-navigation {
    border: 1px solid #dddddd!important;
    padding: 20px;
    ul{
        li.woocommerce-MyAccount-navigation-link{
          border: none;
          &:before{
            content: none;
          }

          a{
            box-shadow: none;
            color: #161616;
          }
        }
    }
  }
  .woocommerce-MyAccount-content{
    .woocommerce-Address{
      padding: 0;
    }
  }

}