.woocommerce-view-order{
  .bg-gray{
    background: #f3f3f3;

    .container{
      background-color: #fff;
      padding: 40px;
    }
  }
  .woocommerce-MyAccount-navigation{
    margin-top: 93px;
  }
  .woocommerce-table{
    padding: 20px;
    border: 1px solid #eeeeee;
    thead{
      tr{
        th{
          background: #000;
          color: #fff;
          font-size: 18px;
          padding: 0 20px;
          font-weight: normal;
          border: none;
          padding: 15px 20px;
        }

      }
    }
    tbody{
      tr{
        th, td{
          padding: 10px 20px;
        }
        td{
          a{
            color: #161616;
            font-family: 'Raleway-SemiBold';
            font-size: 18px;
          }

          ul{
            margin: 0 0 0 20px;

            li{
              p{
                display: inline-block;
                margin: 0;
              }
            }
          }
          span{
            font-family: 'Raleway-SemiBold';
            font-size: 18px;
          }
        }
      }


    }
    tfoot{
      tr{
        th, td{
          padding: 0 20px;
          font-family: 'Raleway-SemiBold';
          font-size: 18px;
        }
      }
    }
  }
  .woocommerce-customer-details{
    .woocommerce-table--customer-details{
      tbody{
        tr{
          th, td{
            padding: 0 20px;
          }
        }
      }
    }
  }
  .woocommerce-column__title{
    font-family: 'Raleway-ExtraBold';
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
  }
}