.woocommerce-order-received {
  p.woocommerce-thankyou-order-received {
        font-size: 30px;
        line-height: 36px;
  }
  ul.woocommerce-thankyou-order-details.order_details {
    li{
      list-style: none;
    }
  }
  .woocommerce-table{
    padding: 20px;
    border: 1px solid #eeeeee;
    thead{
      tr{
        th{
          background: #000;
          color: #fff;
          font-size: 18px;
          padding: 0 20px;
          font-weight: normal;
          border: none;
          padding: 15px 20px;
        }

      }
    }
    tbody{
      tr{
        th, td{
          padding: 10px 20px;
        }
        td{
          a{
            color: #161616;
            font-family: 'Raleway-SemiBold';
            font-size: 18px;
          }

          ul{
            margin: 0 0 0 20px;

            li{
              p{
                display: inline-block;
                margin: 0;
              }
            }
          }
          span{
            font-family: 'Raleway-SemiBold';
            font-size: 18px;
          }
        }
      }


    }
    tfoot{
      tr{
        th, td{
          padding: 0 20px;
          font-family: 'Raleway-SemiBold';
          font-size: 18px;
        }
      }
    }
  }
}